header#navigation {
    padding: 1.5rem 3.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80rem;
    margin-inline: auto;

    & > a {
        font: 400 2rem/1.5 var(--ff-title);
        color: var(--font-color-primary);
        transition: color 500ms;
        
        &:hover {
            color: var(--action);
        }
    }

    & nav {
        display: flex;
        align-items: center;
        gap: 2rem;

        & a {
            position: relative;

            &[download] {
                background-color: var(--action);
                color: var(--bg-primary);
                padding: .5rem 1rem;
                border-radius: 5rem;
                transition: border-radius 200ms;

                &:hover {
                    border-radius: .5rem;
                }
            }

            &:not([download])::before {
                content: "";
                position: absolute;
                background-color: var(--action);
                height: 2px;
                width: 100%;
                transform: scaleX(0);
                bottom: 0;
                left: 0;

                transition: transform 300ms;
            }

            &:hover::before {
                transform: scaleX(1);
            }

            &:not([download]):hover {
                color: var(--font-color-primary);
            }
        }
    }
}


@media (width <= 60em) {
    header#navigation {
        padding: 1rem;

        & nav {
            display: none;
        }
    }
}