section#projects {
    padding-inline: 6.75rem;
    margin-inline: auto;
    max-width: 80rem;

    & .project {
        display: flex;
        align-items: center;
        flex-basis: auto;
        gap: 3rem;
        margin-top: 5rem;

        & .preview {
            background-color: var(--bg-secondary);
            border-radius: 1rem;
            padding: 5rem 2rem;
            position: relative;
            width: 100%;

            & span {
                position: absolute;
                top: 1.5rem;
                left: 2rem;

                background-color: var(--bg-primary);
                padding: .5rem 1rem;
                border-radius: 2rem;
                font-size: xx-small;
                text-transform: uppercase;
            }

            & img {
                border-radius: .5rem;
                transition: transform 300ms;
            }

            &:hover img {
                transform: scale(1.2);
            }
        }

        & .info {
            text-align: justify;
            width: 100%;

            & .stack {
                display: flex;
                gap: .5rem;
                align-items: center;
                justify-content: flex-start;
                margin-top: 2rem;

                & img {
                    width: 2rem;
                    height: auto;
                }

                & > div {
                    position: relative;

                    & img + span {
                        font-size: small;
                        width: max-content;
                        
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%,0);

                        display: none;

                        background-color: var(--bg-secondary);
                        padding: .5rem 1rem;
                        border-radius: 2rem;
                    }

                    & img {
                        cursor: pointer;
                        transition: transform 300ms;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }

                    & img:hover + span {
                        display: block;
                    }
                }
            }

            & .links {
                display: flex;
                gap: 1rem;
                margin-top: 4rem;
                align-items: center;
                
                
                & .info {
                    position: relative;
                    width: 50%;

                    & img {
                        width: 1rem;
                        position: absolute;
                        top: 50%;
                        transform: translate(0,-50%);
                        cursor: pointer;
                    }

                    & .hidden {
                        font-size: smaller;
                        text-align: justify;
                        width: 100%;
                        
                        position: absolute;
                        top: 50%;
                        transform: translate(15%,-50%);
                        
                        background-color: var(--bg-secondary);
                        padding: 1rem 1.5rem;
                        border-radius: 2rem;
                        
                        transition: opacity 1s;

                        display: none;
                        opacity: 0;
                    }


                    & img:hover + .hidden {
                        display: block;
                        opacity: 1;
                    }
                }

                & a {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    color: var(--action);
                    position: relative;

                    &:hover::before {
                        transform: scaleX(1);
                    }

                    &::before {
                        content: "";
                        height: 2px;
                        position: absolute;
                        background-color: var(--action);
                        transition: transform 300ms;

                        transform: scaleX(0);
                        width: 100%;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}

@media (width <= 60em) {
    section#projects {
        padding: 2rem;

        & .project {
            flex-direction: column;
        }

        & .project .info .links {
            margin-top: 2rem;

            & a::before {
                transform: none;
            }
        }
    }
}